body {
    margin: 0;
}

section {
    /* background-image: url(../img/bg3.jpg);
    background-position: center;
    background-size: cover; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Aubrey', cursive;
    font-size: 4rem;
    text-align: center;
    padding: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    text-shadow: 0 0 10px rgb(160, 154, 154);
}

p {
    text-align: center;
    font-size: 1.5rem;
    color: antiquewhite;
    text-shadow: 0 0 8px black;
    width: 400px;
    font-family: 'Aubrey', cursive;

}

video {
    position: absolute;
    z-index: -1;
    height: 170vh;
}

div {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

button {
    width: 6rem;
}

input {
    width: 20rem;
}

span {
    text-decoration: underline;
}

.returnedText {
    font-size: 2rem;
    color: blanchedalmond;
    font-family: 'Aubrey', cursive;
    text-shadow: 0 0 4px black;
}

.title-bar {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: flex-start;

}
.title-bar img.left {
    max-height: 15rem;
    opacity: 20%;
}
.title-bar img.right {
    max-height: 15rem;
    opacity: 20%;
}

.answers {

}